<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
    <test name="UiTest" verbose="1">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="ui"/>-->
<!--                <include name="api"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="TestTrelloUi"/>
        </classes>
    </test>

    <test name="ApiTest">
    <classes>
        <class name="TestTrelloApi"/>
    </classes>
    </test>
</suite>